<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
<div id="container">

	<header>
		<h1 id="logo">FlaBoo</h1>
		<img src="images/logout.svg" alt="LogOut" height="58" width="62" id="logout">
	</header>
	
	<nav id="menusup">
		<form action="search" method="post" id="busqueda">
			<input id="botongris" type="submit" value="Buscar amigos">
			<input id="cuadrobuscar" type="text" name="name_friend">		
		</form>
	</nav>
	
	<aside>
		<div id="asidefoto">
			<img id="fotouser" src="images/usera.jpg" alt="LogOut" height="190" width="150">
		</div>
		<div id="asidenombre">
			<p>Juan Fernández Álvarez</p>
		</div>
		<div id="asidedatos">
			<div>
				<a href="#" id="modperfil">Modificar Perfil</a>
			</div>
			<p id="datosinteres">Datos de interés</p>
			<ul>
				<li>Chico</li>
				<li>Fecha de nacimiento: 01/12/88</li>
				<li>Vive en: Ourense</li>
				<li>Registrado: 28/09/2014</li>
				<li>Estudia: Grado en Ingeniería Informática</li>
				<li>Trabaja en: No trabaja</li>
				<li>Información adicional: No hay información adicional que mostrar</li>
			</ul>
		</div>
	</aside>
	
	<main id=initMain>
		<div id="new_post">
			<h1 id="nuevopost">Nuevo Post:</h1>
			<h2 id="fecha">27/09/2014</h2> <!--La fecha  y la hora creo que se hace con php  -->
			<div>
				<form action="create_post" method="post">
					<div>
						<textarea rows="5" cols="70"> </textarea>
					</div>
					<div>
						<input id="botonazul" type="submit" value="Enviar">
					</div>
				</form>
			</div>
		</div>

		<!--Esta seccion que contiene todos los post no tengo claro que se implemente asi, es decir, tiene
			que haber alguna forma de generar dinamicamente los div para almacenar los post en lugar de tener
			una cantidad de post prefijada en el muro
		-->	
		<!--
		<div>
			<h1 class="publicaciones">PUBLICACIONES</h1>
			<div class="comentario">
				<img  class="usercomentario" src="images/userb.jpg" alt="LogOut" height="50" width="50">
				<div class="conjunto">
					<h2 class="nombrecomentario" >Raquel Martínez Fernández</h2>
					<h2 class="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button class="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3> El contador de me gusta creo que tambien se hace con php  
				<p class="clearboth">Por fin de vacaciones!! Mañana viajaré a Londres con mi novio @Gabriel Martínez Gómez. Estoy feliz!!! :D</p>
			</div>
			<div class="comentario">
				<img  class="usercomentario" src="images/userc.jpg" alt="LogOut" height="50" width="50">
				<div class="conjunto">
					<h2 class="nombrecomentario" >Daniel García González</h2>
					<h2 class="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button class="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p class="clearboth">Esta serie es fantástica! Nunca me había reido tanto jaja https://www.youtube.com/watch?v=QqGndZ-9n-o </p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/usera.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Juan Fernández Álvarez</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">Este año comenzaré el doctorado en ingeniería de telecomunicaciones en el MIT: web.mit.edu</p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/usera.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Juan Fernández Álvarez</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">Aquí os dejo el link al repositorio del primer proyecto web en el cuál participé: https://github.com/adri229/iu1314g2</p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/userc.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Gabriel Martínez Gómez</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">Dos semanas de vacaciones!! Te quiero @Raquel Martínez Fernández :3</p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/usera.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Juan Fernández Álvarez</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">El protocolo SMTP es usado para el intercambio de mensajes entre diversos host. </p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/usera.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Juan Fernández Álvarez</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">Sin duda Alienware Alpha será una de las consolas más potente y versátil del mercado. www.alienware.es</p>
			</div>
			<div id="comentario">
				<img id="usercomentario" src="images/userb.jpg" alt="LogOut" height="50" width="50">
				<div id="conjunto">
					<h2 id="nombrecomentario" >Raquel Martínez Fernández</h2>
					<h2 id="nombrecomentario">Comentado el 28/09/2014 a las 20:45</h2>
				</div>
				<button id="botonmegusta">Me gusta</button>
				<h3>7 me gusta</h3>
				<p id="clearboth">Mi serie favorita :3 http://www.fox.com/bones/ Me encanta Temperance, es el mejor personaje :)</p>
			</div>
			<div class="vermas">Ver más</p> Se hace con javascript? 
		</div>
		-->
	</main>
	
	<div id="menuderecha">
		<ul>
			<li>
				<div>
					<a href="#"><img src="images/mensajes.png" alt="Mensajes" height="60" width="70"></a>
				</div>
				<div class="letraderech">Mensajes</div>
			</li>
			<li>
				<div>
					<a href="#"><img src="images/amigos.png" alt="Amigos" height="60" width="60"></a>
				</div>
				<div class="letraderech">Amigos</div>
			</li>
			<li>
				<div>
					<a href="#"><img src="images/solicitudes.png" alt="Solicitudes de amistad" height="60" width="60"></a>
				</div>
				<div class="letraderech">Solicitudes Amistad</div>
			</li>
		</ul>
	</div>
	
	<footer>
	</footer>
	
	</div>
</body>
</html>