<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
<div id="container">

	<header>
		<a href="login.html"> 
			<img class="flaboo" src="images/flaboo.svg" alt="Logo FlaBoo"> 
		</a>
	</header>
	
	<div id=login>
		<div id="header_side">
				<h1 id="contact">Contacta con nosotros!</h1>
		</div>
		<span id="menu_login">
		<form action="login" method="post">
			<p> <span id="username">Username:</span> <span id="passwd">Password: </span></p>
			<span class="inputTextForm"> <input class="frame" type="text" name="username"> </span>
			<span class="inputTextForm"> <input class="frame" type="text" name="passwd"> </span>
			<span> <input id="submit" type="submit" value="Entrar"> </span>
		</form>
		</span>
	</div>
	<main id="loginMain">
	<div id="imageScreenshot">
		<img src="images/imageProfile.png" alt="Screenshot de FlaBoo" height="350" width="260" id="screenshot">
	</div>
	
	
	<div id="registration">
		<h1 id="h1registration">¿Aún no te has registrado?</h1>
		<h2 id="h2registration">Regístrate en <span id="flabooReg">FlaBoo!</span></h2>
		<form action="registration" method="post">
			<div>
				<fieldset id="fieldset"> 
					<div class="inputTextReg"> Nombre y apellidos: <input type="text" name="name_surname" size="20" class="frame"> </div>
					<div class="inputTextReg"> Correo electronico: <input type="text" name="email" size="20" class="frame"> </div>
					<div class="inputTextReg"> Contraseña: <input type="text" name="passwd" size="20" class="frame"> </div>
					<div class="inputTextReg"> Repetir contraseña: <input type="text" name="repeat_passwd" size="20" class="frame"> </div>
					<input id="buttonReg" type="submit" value="Registrate!">
				</fieldset>
			</div>
			<div>
				<!--<input id="buttonReg" type="submit" value="Registrate!"> -->
			</div>
		</form>	
	</div>
	</main>
</div>	
</body>
</html>